.viewport {
  height: 400px;
  width: 100%;
  border: 1px solid black;
}

.item {
  height: 40px; /* Must match the itemSize in the viewport */
  padding: 0 1rem;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}