<header>
  <h1>Welcome to {{ title }}!</h1>
  <nav>
    <a routerLink="/home" class="button">Home</a>
    <a routerLink="/users" class="button">Go to User List</a>
    <a routerLink="/users/1" class="button">User Profile (ID 1)</a>
    <a routerLink="/virtual-scroll" class="button">Virtual Scroll Example</a>
    <a routerLink="/worker-demo" class="button">Web Worker Example</a>
    <a routerLink="/switch-map-demo" class="button">switchMap Demo</a>
    <a routerLink="/view-child" class="button">ViewChild Demo</a>
  </nav>
</header>

<main>
  <router-outlet />
</main>
